@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Poiret One', cursive, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x:hidden;
 font-weight:600;
}
*{
  box-sizing:border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  text-decoration:none;
  color:grey;
}
a:hover{
  color:rgb(65, 65, 65);
}
a:hover::after {
  width:100%;
}
a::after{
  content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: rgb(65, 65, 65);
    transition: all 200ms;
}

p {margin-bottom: 0em; margin-top: 0em;} /* deletes auto margins from p elements */
/*Testing layout
*{
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/